.main-logo{
  height: auto;
  width: 50px;
}

.social-card{
  width:500px;
  height: auto;
  border: 1px solid #1c1c1c;
}

.main{
  background: orange;
  display: grid;
}

.credit-box{
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-self: end;
  background: white;
  margin: 5px;
  justify-self: end;
  grid-row: 3/4;
  align-items: center;
  grid-column: 1 / -1;
}

.credit-name{
  color: orange;
  font-weight: 700;
}

.credit-pic{
  width: 100px;
  height: 46px;
  width: 46px;
}

.headline{
  text-align: center;
  color: white;
  font-size: 2rem;
}

.message a {
  text-decoration: none;
  color: grey;
}
